@{
    ViewData["Title"] = "Home Page";
}

<div style="position: absolute; left:0;top:60px;right:0;bottom:0;">
    @(Html.DevExpress().Dashboard("clientDashboardControl1")
        .ControllerName("DefaultDashboard")
        .WorkingMode(WorkingMode.ViewerOnly)
        .Width("100%")
        .Height("100%")
        .Extensions(extensions =>
        {
            extensions.UrlState(urlState =>
            {
                urlState.IncludeDashboardIdToUrl(true);
                urlState.IncludeDashboardStateToUrl(true);
            });
            extensions.DataInspector(dataInspector =>
            {
                dataInspector.AllowInspectAggregatedData(true);
                dataInspector.AllowInspectRawData(true);
            });
            extensions.DataSourceWizard(dataSourceWizard =>
            {
                dataSourceWizard.AllowCreateNewJsonConnection(true);
            });
        })
        .OnBeforeRender("onBeforeRender")
        )
</div>
<script>
    performActionAndRedirect("DashboardViewer");
</script>