@{
    ViewData["Title"] = "Home Page";
}

<div style="position: absolute; left:0;top:60px;right:0;bottom:0;">
    @(Html.DevExpress().Dashboard("clientDashboardControl1")
        .ControllerName("DefaultDashboard")
        .WorkingMode(WorkingMode.Designer)
        .Width("100%")
        .Height("100%")
        )
</div>