<div style="position: absolute; left:100px;top:50px;right:0;bottom:0;">
    @(
        Html.DevExpress().Dashboard("clientDashboardControl1")
            .Extensions(option => option.DataSourceWizard(wz => {
                wz.EnableCustomSql(true);
                wz.WizardSettings(s =>
                {
                    s.EnableSqlDataSource(true);
            });
        }))
        .ControllerName("DefaultDashboard")
        .WorkingMode(WorkingMode.Designer)
        .Width("100%")
        .Height("100%")
        )
</div>
@section Scripts{
    
}


