@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out from your account";    
}

<header>
    <h1>@ViewData["Title"]</h1>
    
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form id="formLogOut" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index","Home")" method="post">
                <input type="hidden" id="returnUrl" name="returnUrl" />                
                <div id="button"></div>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
<script type="text/javascript">
    $(function () {
        $("#button").dxButton({
            text: "Log out",
            type: "success",
            stylingMode: "outlined",
            icon: "runner",
            onClick: function () {
                document.getElementById("formLogOut").submit();
            }
        });
    });
    document.getElementById('returnUrl').value = window.location.origin;
</script>